<h1><span><img src="{{ima_up}}" alt="logo"></span>Confirmation</h1>

<div style="
        background: rgba(211,211,211,0.2);
        padding: 2rem;
        border: 2px solid rgba(0,0,0,0.4);
">
    <h1 style="
        font-size: 20px;
">
        Hi there {{name}}!</h1>

    <!--    -->
    <p style="
        font-size: 18px;
        border-bottom: 1px dotted rgba(0,0,0,0.4);
">
        I have received your message and will get back to you soon.</p>

    <!--    -->
    <h3 style="
        font-size: 16px;
        padding-left: 1rem;
">
        Your original message:</h3>

    <!--    -->
    <p style="
        font-size: 14px;
        padding: 1rem;
        background: white;
">
        {{message}}</p>

    <!--    -->
    <h2 style="
        font-size: 16px;
        border-top: 1px dotted rgba(0,0,0,0.4);
        vertical-align: center;
        padding-top: 1rem;
">
        you are welcome to visit my portfolio at:
        <span style="margin-right: 1rem"><a href="http://ojail.online" target="_blank"><img style="width: 3.5rem"
                    src="{{ima}}" alt="logo"></a></span>
    </h2>

    <!--    -->
    <p style="
        font-size: 14px;
        font-style: italic;
        margin-left: 1rem;
        margin-top: 2rem;
        color: darkblue;
">
        please note that the name above was provided by you in your contact message</p>
</div>